@charset "utf-8";

/* CSS Document

.socialize-in-content
    .socialize-in-button .socialize-in-button-right

.socialize-containter
    .socialize-buttons
        .socialize-button
    .socialize-text

*/
/*Buttons In Content */
.socialize-in-content {
    clear: both;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.socialize-in-content-left {
    justify-content: flex-start;
}

.socialize-in-content-center {
    justify-content: center;
}

.socialize-in-content-right {
    justify-content: flex-end;
}

.socialize-in-button {
    text-align: center;
    display: block;
    margin: 5px;
    min-height: 0;
    width: auto;
}

.socialize-in-button-left {
    padding: 0 5px 5px 0;
}

.socialize-in-button-right {
    padding: 0 0 5px 5px;
}

.socialize-in-button-vertical {
    float: left;
}

/*Bottom box with buttons */
.socialize-containter {
    clear: both;
    vertical-align: top;
    min-height: 70px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 2rem;

}

.socialize-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.socialize-button {
    display: block;
    height: 65px;
    width: auto;
    max-width: 100%;
    padding: 0 3px 0 0;
}

.socialize-text {}

/* Facebook Fix */
.socialize-in-button iframe {
    /*    max-width: 60px !important;*/
}

.socialize-in-button .fb_edge_comment_widget iframe {
    width: 330px !important;
}

#socialize-inline-container {
    position: relative;
    display: flex;
    height: auto;
    margin: auto;
}

.socialize-floating {
    border: none;
    background: none;
    z-index: 9999;
    margin: 0;
    display: flex;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .socialize-floating {
        position: static;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.socialize-floating-bg {}

.socialize-floating .socialize-in-button {
    text-align: center;
    display: block;
    margin: 5px;
    min-height: 0;
    width: auto;
    padding: 0;
    float: none;
}

.socialize-email-button {
    font-size: 11px;
    font-family: Verdana, Arial;
    padding: 2px 4px;
    background: #f7f7f7;
    color: #444;
    border: 1px solid #ddd;
    display: block;
    margin: 0 0 5px;
}

.socialize-print-button {
    font-size: 11px;
    font-family: Verdana, Arial;
    padding: 2px 4px;
    background: #f7f7f7;
    color: #444;
    border: 1px solid #ddd;
    display: block;
    margin: 0 0 5px;
}

@media print {
    .socialize-in-content,
    .socialize-containter,
    .socialize-buttons,
    .socialize-floating,
    .socialize-email-button,
    .socialize-print-button {
        display: none !important;
    }
}