.ui-socialize-highlight {
	height: 15px;
	width: 120px;
	background: #eaf2fa;
	border: 2px dashed #ccdff3;
}

#socialize-div1,
#socialize-div2 {
	width: 50%;
	float: left;
}

@media screen and (max-width: 480px) {

	#socialize-div1,
	#socialize-div2 {
		width: 100%;
		float: none;
	}
}

#inline-sortable,
#alert-sortable {
	padding: 0;
}

.socialize-sm-icon {
	padding: 0px;
	margin: 0px 5px 0 0;
	height: 16px;
	width: 0px;
	overflow: hidden;
	float: left;
}

.socialize-sm-icon-list {
	padding: 0px;
	margin: 0 5px 0 0;
	height: 16px;
	width: 0px;
	overflow: hidden;
	float: left;
}

.socialize-table {
	border: 1px solid #ccdff3;
	background: #eaf2fa;
	margin: 0;
	padding: 0;
	width: 0;
	width: 100%;
}

.socialize-table td,
.socialize-table th {
	margin: 0;
	padding: 10px;
	border: 1px solid #ccdff3;
	vertical-align: top;
	text-align: left;
}

#socialize-settings-buttons-facebook div.socialize-sm-icon,
.socialize-settings-buttons-facebook-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/facebook.svg');
	background-size: cover;
}

#socialize-settings-buttons-twitter div.socialize-sm-icon,
.socialize-settings-buttons-twitter-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/x.svg');
	background-size: cover;
}

#socialize-settings-buttons-reddit div.socialize-sm-icon,
.socialize-settings-buttons-reddit-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/reddit.svg');
	background-size: cover;
}

#socialize-settings-buttons-pinterest div.socialize-sm-icon,
.socialize-settings-buttons-pinterest-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/pinterest.svg');
	background-size: cover;
}

#socialize-settings-buttons-linkedin div.socialize-sm-icon,
.socialize-settings-buttons-linkedin-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/linkedin.svg');
	background-size: cover;
}

#socialize-settings-buttons-pocket div.socialize-sm-icon,
.socialize-settings-buttons-pocket-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/pocket.svg');
	background-size: cover;
}

#socialize-settings-buttons-copy div.socialize-sm-icon,
.socialize-settings-buttons-copy-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/copy.svg');
	background-size: cover;
}

#socialize-settings-buttons-print div.socialize-sm-icon,
.socialize-settings-buttons-print-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/print.svg');
	background-size: cover;
}

#socialize-settings-buttons-email div.socialize-sm-icon,
.socialize-settings-buttons-email-icon {
	width: 16px;
	height: 16px;
	background-image: url('../../frontend/assets/email.svg');
	background-size: cover;
}

.socialize-warning {
	background-color: #FFEBE8;
	border-color: #C00;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	display: block;
	margin: 0;
	margin-top: 20px;
}

.socialize-admin p label {
	margin: 0px 20px 0px 0px;
}

.socialize-admin p label input {
	margin-left: 10px;
}

#socialize-donate .socialize-coinbase {
	text-align: center;
}

#socialize-donate .inside ul {
	text-align: center;
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
}

#socialize-donate .inside ul>li {
	width: 100%;
}

.settings_page_socialize #dashboard-widgets {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

.settings_page_socialize #dashboard-widgets #socialize-settings-container {
	width: 70%;
	float: none;
}

.settings_page_socialize #dashboard-widgets #socialize-sidebar-container {
	width: 30%;
	float: none;
}

.settings_page_socialize #dashboard-widgets h3 {
	margin: 11px 11px;
	font-weight: bold;
}

@media screen and (max-width: 782px) {

	.settings_page_socialize #dashboard-widgets {
		flex-direction: column;
		gap: 1rem;
	}

	.settings_page_socialize #dashboard-widgets #socialize-settings-container,
	.settings_page_socialize #dashboard-widgets #socialize-settings-container {
		width: 100%;
	}
}